version: '3'

services:
  redis:
    image: 'redis:7.0.11'
  webapp:
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - OAUTH_CLIENT_ID=3MVG9I5UQ_0k_hTmZuUMosHPf.2zqzHBqd0j.GMmnThrGhd53n4prfPpHNqSAPRrWzc7Hb0ul.s2m4VYoiWyZ
      - OAUTH_CLIENT_SECRET=
      - SFDC_API_VERSION=49.0
      - SESSION_SECRET=whatever
      - PORT=3000
      - CORS_DOMAINS=http://localhost,http://localhost:3000,https://sfdc-happy-soup.herokuapp.com,https://happysoup.io
      - ENFORCE_SSL=false
      - QUEUE_NAME=happy_queue
      - DELETE_JOB_IMMEDIATELY=true
  worker:
    build:
      context: .
      dockerfile: ./docker/worker/Dockerfile
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - OAUTH_CLIENT_ID=3MVG9I5UQ_0k_hTmZuUMosHPf.2zqzHBqd0j.GMmnThrGhd53n4prfPpHNqSAPRrWzc7Hb0ul.s2m4VYoiWyZ
      - OAUTH_CLIENT_SECRET=
      - SFDC_API_VERSION=49.0
      - SESSION_SECRET=whatever
      - PORT=3000
      - CORS_DOMAINS=http://localhost,http://localhost:3000,https://sfdc-happy-soup.herokuapp.com,https://happysoup.io
      - ENFORCE_SSL=false
      - QUEUE_NAME=happy_queue
      - DELETE_JOB_IMMEDIATELY=true