version: '3'

services:
  redis:
    image: 'redis:7.0.11'
    volumes:
      - ./certs/redis-server.crt:/usr/local/etc/redis/redis-server.crt
      - ./certs/redis-server.key:/usr/local/etc/redis/redis-server.key
      - ./certs/ca.crt:/usr/local/etc/redis/ca.crt
    command: >
      redis-server
      --tls-port 6379
      --port 0
      --tls-cert-file /usr/local/etc/redis/redis-server.crt
      --tls-key-file /usr/local/etc/redis/redis-server.key
      --tls-ca-cert-file /usr/local/etc/redis/ca.crt
      --tls-auth-clients no
      --tls-replication yes
  webapp:
    build:
      context: .
      dockerfile: ./docker/web/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - OAUTH_CLIENT_ID=3MVG9I5UQ_0k_hTmZuUMosHPf.2zqzHBqd0j.GMmnThrGhd53n4prfPpHNqSAPRrWzc7Hb0ul.s2m4VYoiWyZ
      - OAUTH_CLIENT_SECRET=934DB30A5380514968DC292A07E6C9808884DE14CF9A175B475EBEB67F462CE9
      - SFDC_API_VERSION=49.0
      - SESSION_SECRET=whatever
      - PORT=3000
      - CORS_DOMAINS=http://localhost,http://localhost:3000,https://sfdc-happy-soup.herokuapp.com,https://happysoup.io
      - ENFORCE_SSL=false
      - QUEUE_NAME=happy_queue
      - DELETE_JOB_IMMEDIATELY=true
      - MONGODB_URL=mongodb://admin:happysoup_dev_2024@mongodb:27017/happysoup?authSource=admin
  worker:
    build:
      context: .
      dockerfile: ./docker/worker/Dockerfile
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - OAUTH_CLIENT_ID=3MVG9I5UQ_0k_hTmZuUMosHPf.2zqzHBqd0j.GMmnThrGhd53n4prfPpHNqSAPRrWzc7Hb0ul.s2m4VYoiWyZ
      - OAUTH_CLIENT_SECRET=
      - SFDC_API_VERSION=49.0
      - SESSION_SECRET=whatever
      - PORT=3000
      - CORS_DOMAINS=http://localhost,http://localhost:3000,https://sfdc-happy-soup.herokuapp.com,https://happysoup.io
      - ENFORCE_SSL=false
      - QUEUE_NAME=happy_queue
      - DELETE_JOB_IMMEDIATELY=true
  mongodb:
    image: mongo:7.0
    container_name: happysoup-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: happysoup_dev_2024
      MONGO_INITDB_DATABASE: happysoup
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data: