body,.dependencies,.form input{
    background-color:white;
}

header{
    background-color:#bdc3c7
}

.form,.controls{
    background-color: #ecf0f1;
}

body,nav,header nav a{
    color:black;
}

.form input{
    border: 1px solid #ced4da;
}

.read,.write{
    color:white;
}
