$primary-color:#3298dc;
$text-color:#4a4a4a;
$light-grey:#f3f2f2;
$success-color:#48c774;
$background-color:#284355;

.entire-screen{
    height: 100vh;
}

html,body{
    
}

body{
    @extend .entire-screen;
}

