$primary-color:#3298dc;
$text-color:#4a4a4a;
$light-grey:#f3f2f2;
$success-color:#48c774;
$background-color:#284355;
$folder-color:#f39c12;

.entire-screen{
    height: 100vh;
}

.font-weight-500{
    font-weight:500;
}

.label-size{
    font-size: 15px !important; 
}

.text-size{
    font-size: 14px !important;
}

html,body{
    
}

body{
    @extend .entire-screen;
}

