@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'InterDisplay';
    src: url('@/assets/layout/fonts/InterDisplay-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}
