.layout-mask {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -998;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease-in-out;
}

